# Solo se debe copiar y pegar este archivo como .env y funcionará con docker
DEBUG=true
PORT=3000

JWT_SECRET=your_jwt_secret
SECRET=your_secret_key
BASE_URL=http://localhost:3000

SEARCH_HOST=http://search:7700
SEARCH_API_KEY=MASTER_KEY

MAILER_API_KEY=your_resend_api_key
MAILER_FROM=Acme <onboarding@resend.dev>

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASS=postgres
POSTGRES_DB=postgres

MONGO_HOST=mongodb://localhost:27017
MONGO_DB=dbname

REDIS_HOST=localhost:6379
REDIS_USERNAME=
REDIS_PASSWORD=
